*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    width: 100%;
    min-height: 30vh;
    border: 10px solid yellow;
}

.velez{
    width: 10vh;
    height: 10vh;
}

h1{
    color: white;
    margin-top: 3vh;
}

h2{
    color: red;
}

